body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}


.off-site-menu-open .off-site-menu, 
.off-site-menu-open .container {
    transform: translateX(250px);
}



.off-site-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    width: 250px;
    background-color: purple;
  }



  #sidebar {
      padding: 20px;
      color: black;
      background-color: #3046C5;
      font-size: 1.2rem;
  }

  #sidebar li {
      padding: 25px 10px;
  }